body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.cuadroInterior {
    background-color: #0a1a3b;
    background-image: url(../images/imagen_centro_login.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

#carruselFotos {
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.ajusteCarrusel {
    height: 500px;
    overflow: hidden;
}

/*Para oscurecer el carrusel*/
.ajusteCarrusel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.ajusteCarrusel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#navbarPaginaPrincipal {
    background-color: rgba(255, 255, 255, 0.6) !important;
    transition: background-color 0.5s ease;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(22, 59, 141);
}

#navbarPaginaPrincipal .nav-link {
    color: rgba(22, 59, 141) !important;
    border-radius: 5px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: 600;
    transition: 
        box-shadow 0.5s ease, 
        color 0.5s ease, 
        background-color 0.5s ease;
}

#navbarPaginaPrincipal .nav-link:hover {
    background-color: rgba(22, 59, 141, 0.7);
    color: white !important;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 0px 10px rgb(97, 92, 255);
    transition: 
        box-shadow 0.5s ease, 
        color 0.5s ease, 
        background-color 0.5s ease;
}

.emailUsuario{
    color: rgba(22, 59, 141) !important;
    align-items: center;
}

.quienesSomos {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #163b8d;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    margin: 20px;
    padding: 30px;
    overflow: hidden;
}

.quienesSomos img {
    margin-top: 40px;
    width: 80%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.quienesSomos h1 {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px #000000;
}

.quienesSomos h5{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.quienesSomos h6{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.formularioCentral {
    background-color: rgba(22, 59, 141, 0.85);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* Curva de animación suave */
}

.formularioCentral h2 {
    color: white;
}

.formularioCentral .form-control {
    border-radius: 10px;
}

.formularioCentral .btn {
    border-radius: 10px;
}

#navbarPaginaPrincipal .navbar-toggler {
    border-color: white;
}

#navbarPaginaPrincipal .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

#navbarPaginaPrincipal.cambioNavbar .navbar-toggler {
    border-color: black;
}

#navbarPaginaPrincipal.cambioNavbar .navbar-toggler-icon {
    /* Cambia el color SVG interno a negro */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes mostrarTitulo {
    from {
        opacity: 0;
        transform: scale(90%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}

.quienesSomos.ocultar {
    opacity: 0;
    transform: translateY(20px);
    transition: none;
}

.quienesSomos.aparecer {
    animation: fade-in-up 0.8s ease-out forwards;
}

#tituloContenedor {
    opacity: 1;
    text-shadow: 2px 2px 4px #000000;
    animation: mostrarTitulo 0.8s ease forwards;
}

.formulario-aparecer {
    opacity: 1 !important;
    visibility: visible !important;
}

#formularioRegistro {
    padding: 0;
    margin: 0;
}

.contenidoSuperpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

#tituloContenedor,
#formularioContenedor {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
}

.contenedor {
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: white;
    background-color: #163b8d;
}

.col1 {
    padding: 15px;
    color: #000000;
    margin-top: 10px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.col1 h2 {
    text-align: center;
    color: #163b8d;
}

.col1 img {
    width: 100%;
    border-radius: 10px;
}

.col2 {
    margin-top: 10px;
}

.row1 {
    padding: 15px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #163b8d;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.row2 {
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    text-align: center;
    font-size: 1rem;
}

.video_centrada {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contenedor.ocultar {
    opacity: 0;
    transform: translateY(20px);
    transition: none;
}

.contenedor.aparecer {
    animation: fade-in-up 0.8s ease-out forwards;
}

.piePagina {
    background-color: #112e6e;
    text-align: center;
    margin-top: 50px;
}

.columna1Footer {
    padding: 50px 20px 50px 20px;
}

.columna2Footer {
    padding: 50px 20px 50px 20px;
}

.columna3Footer {
    padding: 50px 20px 50px 20px;
}

.ajustarIcono {
    color: inherit;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    transition: color 0.5s ease;
}

.ajustarIcono:hover {
    transition: color 0.5s ease;
    color: yellow;
}

.ajustarEnlaces {
    color: inherit;
    color: white;
    text-decoration: none;
    transition: text-decoration 0.5s ease, color 0.5s ease;
}

.ajustarEnlaces:hover {
    transition: text-decoration 0.5s ease, color 0.5s ease;
    color: yellow;
}

.contenedores-principales {
    padding: 40px 0;
    gap: 20px;
    /* espacio entre contenedores */
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
}

.contenedor-individual {
    background-color: #fdfeff;
    color: #163b8d;
    border-radius: 15px;
    padding: 30px;
    flex: 1 1 30%;
    min-width: 280px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 150px;
}

.contenedor-individual:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.contenedor-individual .btn {
    border-radius: 10px;
    font-weight: bold;
    color: #163b8d;
    background-color: white;
    transition: all 0.3s ease;
}

.contenedor-individual .btn:hover {
    background-color: #112e6e;
    color: white;
    box-shadow: 0px 0px 10px rgb(97, 92, 255);
    transform: scale(1.1);
}

.contenedor-individual.ocultar{
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: none;
}

#contenedorDescarga1.contenedor-individual.aparecer{
    visibility: visible;
    opacity: 0;
    animation: fade-in-up 0.8s ease-out forwards;
}

#contenedorDescarga2.contenedor-individual.aparecer{
    visibility: visible;
    opacity: 0;
    animation: fade-in-up 0.8s ease-out forwards;
    animation-delay: 0.4s;
}

#contenedorDescarga3.contenedor-individual.aparecer{
    visibility: visible;
    opacity: 0;
    animation: fade-in-up 0.8s ease-out forwards;
    animation-delay: 0.8s;
}