body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 90%;
    max-width: 1024px;
    text-align: center;
}

.contenido2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.formularioInicioSesion {
    background-color: rgba(22, 59, 141, 0.85);
    backdrop-filter: blur(4px);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.form-control, .btn {
    border-radius: 10px;
    height:45px;
}

.form-control2 {
    height:97px;
    resize:none;
}

.fondo{
    position: relative;
    height: 100vh;
    background-image: url('../images/fotoEjemploFondo2.jpg');
    background-size: cover;
    background-position: center;
}

.navegacion{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    border-bottom: 3px solid rgba(22, 59, 141);
}

.texto{
    color: rgba(22, 59, 141);
    font-weight: 600;
    border-radius: 10px;
}

.texto:hover{
    color:white !important;
    background-color: #0b4b8a;
}

.registrarse{
    color:white;
    margin-top: 25px;
    align-items: center;
    text-decoration: none;
    display:block
}

.registrarse:hover{
    text-decoration: underline;
}

.cuadro{
    background-color:rgba(13, 110, 253);
    border-radius: 10px;
}

.margen2{
    margin-left:-20px;
}

.margen1{
    margin-left: 10px;
}