#navbarPaginaPrincipal {
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(8px);
	border-bottom: 3px solid rgba(22, 59, 141);
}

#navbarPaginaPrincipal .nav-link {
	color: black;
	border-radius: 10px;
	transition: background-color 0.3s ease, color 0.3s ease;
	font-weight: 600;
}

#navbarPaginaPrincipal .nav-link:hover {
	background-color: #0b4d8a;
	color: white !important;
	border-radius: 10px;
}

#navbarPaginaPrincipal .nav-link {
	color: rgba(22, 59, 141);
	border-radius: 10px;
}

